.demo-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 3em;
  margin-right: 8em;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.demo-box--visible {
opacity: 1;
transform: translateY(0);
}

.demo-inner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.demo-heading {
  margin-top: 8em;
  margin-bottom: 1em;
  font-family: Chivo,sans-serif;
  color: #333;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 0

}

.demo-sub-heading {
  position: relative;
  margin-top: 0;
  margin-bottom: .6em;
  color: #8f81cb;
  font-size: 2.1em;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  text-align-last: left;
  text-align: justify;
}

p {
  text-align: justify;
  text-align-last: left;
  margin-top: .5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color:#333;
}

.demo-section-divider{
  width: 80%;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 10%; 
  border-top: 0.5px solid #333;
  border-left-color: #333;
  align-items: center;
}

.button-container{
  margin-bottom: 2em;
  padding-bottom: 3em;
}


/* Code for smaller screen */

@media only screen and (max-width: 818px) {
  .demo-sub-heading {
    font-size: 1.6em;
    margin-bottom: .4em;
  }
}

@media only screen and (min-width: 1000px) {
  .demo-video-container-inner{
    align-items: center;
    width: 50%;
    margin: 0 auto;
    /* The above line is shorthand for: margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; */
  }
}


